<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Search Engine</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="./static/fetchQuery.js" defer></script>
</head>

<body class="container">
    <h1 class="text-white mb-5 pb-4">Sports Search Engine</h1>
    <div class="btn-group btn-group-md pb-4 mb-2" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-light" for="btnradio1">Text</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-light" for="btnradio2">Image</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-light" for="btnradio3">Video</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
        <label class="btn btn-outline-light" for="btnradio4">Standings</label>
    </div>
    <form class="mb-5">
        <input class="form-control form-control-lg bg-dark text-white" type="text" id="searchBox"
            placeholder="Search...">
        <button type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FFFFFF" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
        </button>
    </form>
    <div id="results"></div>

    <div id="standings" class="d-none text-center">
        <h2 class="text-white mb-4">NBA Standings</h2>
        
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-white mb-2">Eastern Conference (NBA)</h3>
                <table class="table table-bordered text-white">
                    <thead>
                        <tr>
                            <th>Team</th>
                            <th>Wins</th>
                            <th>Losses</th>
                            <th>Win/Loss %</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in eastern_nba_standings %}
                        <tr>
                            <td style="white-space: nowrap; overflow: hidden; max-width: 500px;">
                                {{ team[2] }}
                            </td>
                            <td>{{ team[3] }}</td>
                            <td>{{ team[4] }}</td>
                            <td>{{ team[5] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    
            <div class="col-md-6">
                <h3 class="text-white mb-2">Western Conference (NBA)</h3>
                <table class="table table-bordered text-white">
                    <thead>
                        <tr>
                            <th>Team</th>
                            <th>Wins</th>
                            <th>Losses</th>
                            <th style="min-width: 110px;">Win/Loss %</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in western_nba_standings %}
                        <tr>
                            <td style="white-space: nowrap; overflow: hidden;">
                                {{ team[2] }}
                            </td>
                            <td>{{ team[3] }}</td>
                            <td>{{ team[4] }}</td>
                            <td>{{ team[5] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <h2 class="text-white mb-4">NHL Standings</h2>
        
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-white mb-2">Eastern Conference</h3>
                <table class="table table-bordered text-white">
                    <thead>
                        <tr>
                            <th>Team</th>
                            <th>Wins</th>
                            <th>Losses</th>
                            <th style="min-width: 110px;">OT Losses</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in eastern_nhl_standings %}
                        <tr>
                            <td style="white-space: nowrap; overflow: hidden; max-width: 500px;">
                                {{ team[2] }}
                            </td>
                            <td>{{ team[3] }}</td>
                            <td>{{ team[4] }}</td>
                            <td>{{ team[5] }}</td>
                            <td>{{ team[6] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    
            <div class="col-md-6">
                <h3 class="text-white mb-2">Western Conference</h3>
                <table class="table table-bordered text-white">
                    <thead>
                        <tr>
                            <th>Team</th>
                            <th>Wins</th>
                            <th>Losses</th>
                            <th>OT Losses</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in western_nhl_standings %}
                        <tr>
                            <td style="white-space: nowrap; overflow: hidden;">
                                {{ team[2] }}
                            </td>
                            <td>{{ team[3] }}</td>
                            <td>{{ team[4] }}</td>
                            <td>{{ team[5] }}</td>
                            <td>{{ team[6] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        const standingsRadio = document.getElementById("btnradio4");
        const standingsDiv = document.getElementById("standings");
        const allRadios = document.querySelectorAll("input[name='btnradio']");
    
        standingsRadio.addEventListener("change", function () {
            if (standingsRadio.checked) {
                standingsDiv.classList.remove("d-none");
            }
        });
    
        allRadios.forEach(radio => {
            if (radio !== standingsRadio) {
                radio.addEventListener("change", function () {
                    standingsDiv.classList.add("d-none");
                });
            }
        });
    </script>
    
</body>

</html>
